###############
# Utils
###############

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en1"
alias ips="ifconfig -a | grep -o 'inet6\? \(\([0-9]\+\.[0-9]\+\.[0-9]\+\.[0-9]\+\)\|[a-fA-F0-9:]\+\)' | sed -e 's/inet6* //'"

# URL-encode strings
alias urlencode='python -c "import sys, urllib as ul; print ul.quote_plus(sys.argv[1]);"'

alias la='ls -aG'
alias ll='ls -laG'
alias grep='grep --color=auto'

[ -f "`which ack`" ] || alias ack=ack-grep

hub_path=`which hub`
[[ -f $hub_path ]] && alias git=$hub_path

#make
if [[ `which gmake` == '/usr/local/bin/gmake' ]]; then
alias make='gmake'
else
alias gmake='make'
fi

#tmux
tmux="TERM=screen-256color-bce tmux"
